* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'bebas_neueregular'; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: bebas-neue-pro, sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Oswald', sans-serif;
}